<div class="page animated" style="animation-duration: 500ms;">
  <!-- Page Header-->
  <header class="section page-header context-light">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap" id="home" style="height: 95.2148px;">
      <nav class="rd-navbar rd-navbar-modern rd-navbar-original rd-navbar-static rd-navbar--is-stuck"
        data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
        data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
        data-md-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static"
        data-lg-device-layout="rd-navbar-fixed" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up="true"
        data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="50px" data-xl-stick-up-offset="50px"
        data-xxl-stick-up-offset="50px" data-md-anchor-offset="-70px" data-lg-anchor-offset="-70px"
        data-xl-anchor-offset="-70px" data-xxl-anchor-offset="-70px">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle toggle-original"
                data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand"><a class="brand" href="https://www.smartnet.ec/index.html"><img
                    class="brand-logo-light" src="assets/images/logo-default-302x89.png" alt="" width="151"
                    height="44"><img class="brand-logo-dark" src="assets/images/logo-inverse-302x89.png" alt=""
                    width="151" height="44"></a>
              </div>
            </div>
            <div class="rd-navbar-main-element">
              <div class="rd-navbar-nav-wrap toggle-original-elements">
                <ul class="rd-navbar-nav">
                  <li class="rd-nav-item active"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#home">Inicio</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#prices">Planes</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#services">Ventajas</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#faq">Preguntas</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#about">Conocenos</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link"
                      href="https://www.smartnet.ec/index.html#speed">SpeedTest</a>
                  </li>
                  <li class="rd-nav-item"><a class="rd-nav-link" href="http://clientessmt.wispro.co/"
                      target="_blank">Clientes</a>
                  </li>
                </ul><a class="navbar-phone" href="https://wa.link/5fzp93" target="_blank">+593 98 131 2715<span
                    class="icon icon-gray-dark icon-style-brand fa fa-whatsapp"></span></a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- Swiper-->
  <section class="section section-main-bunner position-relative">
    <div
      class="swiper-container swiper-slider swiper-mode-1 section-main-bunner swiper-container-horizontal swiper-container-fade"
      data-loop="true" data-nav="false" data-autoplay="4000" data-simulate-touch="false" data-slide-effect="fade">
      <div class="swiper-wrapper text-left" style="transition-duration: 0ms;">
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
          data-slide-bg="assets/images/SMT-slide-2.jpg"
          style="background-image: url(&quot;assets/images/SMT-slide-2.jpg&quot;); background-size: cover; width: 2078px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;"
          data-swiper-slide-index="1">
          <div class="swiper-slide-caption section-lg">
            <div class="container inset-xl-0">
              <div class="row justify-content-lg-between flex-column flex-lg-row justify-content-center">
                <div class="col-lg-5 d-flex">
                  <div class="swiper-slide-description">
                    <h2>Nuestra Cobertura</h2>
                    <p>Tenemos red en todo Salcedo, Belisario Quevedo y con pronósticos de expansión a toda la
                      provincia del Cotopaxi </p>
                    <div class="slide-description-cta">
                      <div class="pricing"><span class="currency">$</span><span class="price">26,79</span></div>
                      <div class="description">mes por 50Mbps en el día y <br>100Mbps en las noches</div>
                    </div><a class="button button-primary btn-md" href="https://www.smartnet.ec/index.html#">Lo
                      quiero!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-slide-bg="assets/images/SMT-slide-1.jpg"
          style="background-image: url(&quot;assets/images/SMT-slide-1.jpg&quot;); background-size: cover; width: 2078px; transform: translate3d(-2078px, 0px, 0px); opacity: 1; transition-duration: 0ms;"
          data-swiper-slide-index="0">
          <div class="swiper-slide-caption section-lg">
            <div class="container inset-xl-0">
              <div class="row justify-content-lg-between flex-column flex-lg-row justify-content-center">
                <div class="col-lg-5 d-flex">
                  <div class="swiper-slide-description">
                    <h2>Planes de Internet para todos</h2>
                    <p>Ofrecemos planes de internet para varios propósitos con velocidades desde los 25Mbps por fibra
                      óptica.</p>
                    <div class="slide-description-cta">
                      <div class="pricing"><span class="currency">$</span><span class="price">19.64</span></div>
                      <div class="description">mes por 25Mbps en el día y <br>100Mbps en las noches</div>
                    </div><a class="button button-primary btn-md" href="https://www.smartnet.ec/index.html#">Lo
                      quiero!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" data-slide-bg="assets/images/SMT-slide-2.jpg"
          style="background-image: url(&quot;assets/images/SMT-slide-2.jpg&quot;); background-size: cover; width: 2078px; transform: translate3d(-4156px, 0px, 0px); opacity: 1; transition-duration: 0ms;"
          data-swiper-slide-index="1">
          <div class="swiper-slide-caption section-lg">
            <div class="container inset-xl-0">
              <div class="row justify-content-lg-between flex-column flex-lg-row justify-content-center">
                <div class="col-lg-5 d-flex">
                  <div class="swiper-slide-description">
                    <h2>Nuestra Cobertura</h2>
                    <p>Tenemos red en todo Salcedo, Belisario Quevedo y con pronósticos de expansión a toda la
                      provincia del Cotopaxi </p>
                    <div class="slide-description-cta">
                      <div class="pricing"><span class="currency">$</span><span class="price">26,79</span></div>
                      <div class="description">mes por 50Mbps en el día y <br>100Mbps en las noches</div>
                    </div><a class="button button-primary btn-md" href="https://www.smartnet.ec/index.html#">Lo
                      quiero!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
          data-slide-bg="assets/images/SMT-slide-1.jpg"
          style="background-image: url(&quot;assets/images/SMT-slide-1.jpg&quot;); background-size: cover; width: 2078px; transform: translate3d(-6234px, 0px, 0px); opacity: 0; transition-duration: 0ms;"
          data-swiper-slide-index="0">
          <div class="swiper-slide-caption section-lg">
            <div class="container inset-xl-0">
              <div class="row justify-content-lg-between flex-column flex-lg-row justify-content-center">
                <div class="col-lg-5 d-flex">
                  <div class="swiper-slide-description">
                    <h2>Planes de Internet para todos</h2>
                    <p>Ofrecemos planes de internet para varios propósitos con velocidades desde los 25Mbps por fibra
                      óptica.</p>
                    <div class="slide-description-cta">
                      <div class="pricing"><span class="currency">$</span><span class="price">19.64</span></div>
                      <div class="description">mes por 25Mbps en el día y <br>100Mbps en las noches</div>
                    </div><a class="button button-primary btn-md" href="https://www.smartnet.ec/index.html#">Lo
                      quiero!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Swiper Pagination-->
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
          class="swiper-pagination-bullet"></span><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
      <!--Swiper Navigation-->
      <div class="swiper-button-prev fa-arrow-left"></div>
      <div class="swiper-button-next fa-arrow-right"></div>
    </div>
  </section>
  <!-- Page Foot-->
  <!--pricing-->
  <section class="section section-lg text-center bg-gray-300" id="prices">
    <div class="container">
      <h3>Planes &amp; Precios</h3>
      <div class="row row-85">
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-loaded" data-items="1" data-md-items="2" data-lg-items="3" data-dots="true"
          data-nav="false" data-stage-padding="15" data-loop="false" data-margin="30" data-mouse-drag="false"
          style="">





          <div class="owl-stage-outer">
            <div class="owl-stage"
              style="transform: translate3d(-800px, 0px, 0px); transition: all 0s ease 0s; width: 2030px; padding-left: 15px; padding-right: 15px;">
              <div class="owl-item" style="width: 370px; margin-right: 30px;">
                <div class="pricing-corporate">
                  <h5 class="pricing-corporate-title">Basic +</h5>
                  <div class="pricing-corporate-price"><span class="heading-4">$</span>
                    <p class="price">19,64 <span class="small small-top">+ IVA</span></p>
                  </div>
                  <ul class="pricing-corporate-list">
                    <li>25 Mbps de velocidad</li>
                    <li>Conexión por fibra óptica</li>
                    <li>Wi-Fi incluido</li>
                    <li>Compartición 2:1</li>
                    <li>Ideal para navegar en internet, revisar correos y redes sociales</li>
                    <li>En las noches vuela, 100Mbps!!</li>
                  </ul><a class="button button-white-outline-2 button-lg" href="https://wa.link/j8ade1"
                    target="_blank">Lo quiero</a>
                </div>
              </div>
              <div class="owl-item" style="width: 370px; margin-right: 30px;">
                <div class="pricing-corporate box-pricing-selected">
                  <h5 class="pricing-corporate-title">Smart+</h5>
                  <div class="pricing-corporate-price"><span class="heading-4">$</span>
                    <p class="price">26,79 <span class="small small-top">+ IVA</span> </p>
                  </div>
                  <ul class="pricing-corporate-list">
                    <li>50 Mbps de velocidad</li>
                    <li>Conexión por fibra óptica</li>
                    <li>Wi-Fi incluido</li>
                    <li>Compartición 2:1</li>
                    <li>Ideal para tele-trabajo y clases virtuales</li>
                    <li>En las noches vuela, 100Mbps!!</li>
                  </ul><a class="button button-primary button-lg" href="https://wa.link/3s2r29" target="_blank">Lo
                    quiero</a>
                </div>
              </div>
              <div class="owl-item active" style="width: 370px; margin-right: 30px;">
                <div class="pricing-corporate">
                  <h5 class="pricing-corporate-title">Gaming+</h5>
                  <div class="pricing-corporate-price"><span class="heading-4">$</span>
                    <p class="price">40,18<span class="small small-top">+ IVA</span> </p>
                  </div>
                  <ul class="pricing-corporate-list">
                    <li>100 Mbps de velocidad</li>
                    <li>Conexión por fibra óptica</li>
                    <li>Wi-Fi incluido</li>
                    <li>Compartición 2:1</li>
                    <li>Ideal para streaming y juegos en linea</li>
                    <li>En las noches vuela, 200Mbps!!</li>
                  </ul><a class="button button-white-outline-2 button-lg" href="https://wa.link/0lbuaf"
                    target="_blank">Lo quiero</a>
                </div>
              </div>
              <div class="owl-item active" style="width: 370px; margin-right: 30px;">
                <div class="pricing-corporate">
                  <h5 class="pricing-corporate-title">Premium+</h5>
                  <div class="pricing-corporate-price"><span class="heading-4">$</span>
                    <p class="price">53,57<span class="small small-top">+ IVA</span></p>
                  </div>
                  <ul class="pricing-corporate-list">
                    <li>150 Mbps de velocidad</li>
                    <li>Conexión por fibra óptica</li>
                    <li>Wi-Fi incluido</li>
                    <li>Compartición 2:1</li>
                    <li>Ideal para hogares hiper conectados </li>
                    <li>En las noches vuela, 200Mbps!!</li>
                  </ul>
                  <a class="button button-white-outline-2 button-lg" href="https://wa.link/cajn6u" target="_blank">Lo
                    quiero</a>
                </div>
              </div>
              <div class="owl-item active" style="width: 370px; margin-right: 30px;">
                <div class="pricing-corporate">
                  <h5 class="pricing-corporate-title">Ultra Smart+</h5>
                  <div class="pricing-corporate-price"><span class="heading-4">$</span>
                    <p class="price">66,96<span class="small small-top">+ IVA</span></p>
                  </div>
                  <ul class="pricing-corporate-list">
                    <li>200 Mbps de velocidad</li>
                    <li>Conexión por fibra óptica</li>
                    <li>Wi-Fi incluido</li>
                    <li>Compartición 2:1</li>
                    <li>Ideal para hogares hiper conectados </li>
                    <li>En las noches vuela, 500Mbps!!</li>
                  </ul>
                  <a class="button button-white-outline-2 button-lg" href="https://wa.link/cajn6u" target="_blank">Lo
                    quiero</a>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-nav disabled">
            <div class="owl-prev"></div>
            <div class="owl-next"></div>
          </div>
          <div class="owl-dots">
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot active"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--icons-->
  <section class="section section-lg text-center" id="services">
    <div class="container">
      <div class="row row-50">
        <div class="col-md-6 col-lg-4 wow-outer">
          <div class="wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
            <div class="box-icon-classic">
              <div class="box-icon-inner decorate-triangle decorate-primary-light"><span
                  class="icon-xl electro-ico electro-icon-12 text-primary"></span></div>
              <div class="box-icon-caption">
                <h4><a href="https://www.smartnet.ec/index.html#">Soporte Técnico</a></h4>
                <p>Nuestro personal técnico esta siempre disponible para ayudar en los requerimiento de nuestros
                  clientes</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow-outer">
          <div class="wow slideInDown" style="visibility: visible; animation-name: slideInDown;">
            <div class="box-icon-classic">
              <div class="box-icon-inner decorate-circle decorate-primary-light"><span
                  class="icon-xl electro-ico electro-icon-21 text-primary"></span></div>
              <div class="box-icon-caption">
                <h4><a href="https://www.smartnet.ec/index.html#">Instalación gratis</a></h4>
                <p>Para todos nuestros clientes a partir del plan Smart+, promoción hasta diciembre 2021.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow-outer">
          <div class="wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="box-icon-classic">
              <div class="box-icon-inner decorate-rectangle decorate-primary-light"><span
                  class="icon-xl electro-ico electro-icon-02 text-primary"></span></div>
              <div class="box-icon-caption">
                <h4><a href="https://www.smartnet.ec/index.html#">Velocidad</a></h4>
                <p>Ofrecemos a nuestros clientes un uptime del 99.8% de disponibilidad con elevados indices de
                  velocidad, y en las noches completamente liberado a 100Mbps.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--FAQ-->
  <section class="section section-xl text-center" id="faq">
    <div class="container">
      <h3>Consultas frecuentes</h3>
      <div class="row row-70">
        <div class="col-12">
          <div class="card-group-custom card-group-corporate" id="accordion1" role="tablist"
            aria-multiselectable="false">
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a id="accordion1-card-head-ujmspadv" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-xpgmftec"
                    aria-controls="accordion1-card-body-xpgmftec" aria-expanded="false" role="button"
                    class="collapsed">Cuantas computadores soporta cada plan?
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse" id="accordion1-card-body-xpgmftec" aria-labelledby="accordion1-card-head-ujmspadv"
                data-parent="#accordion1" role="tabpanel" style="">
                <div class="card-body">
                  <p>Dependiendo el uso que se le de al servicio el Plan Basic+ permite 1 computador y 1 dispositivo
                    movil; recomendamos el Plan Smart+ para 2 computadores y 3 dispositivos moviles; el Plan Gaming+
                    en cambio 1 consola de videojuegos, 2 computadores, 3 dispositivos moviles y 1 TV; el Plan
                    Premium+ sirve para hogares con 2 computadores, 2 TVs, y 5 dispositivos móviles. </p>
                </div>
              </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a class="collapsed" id="accordion1-card-head-bskdaiha" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-getyvkpk"
                    aria-controls="accordion1-card-body-getyvkpk" aria-expanded="false" role="button">A que se refiere
                    con el nivel de compartición?
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse" id="accordion1-card-body-getyvkpk" aria-labelledby="accordion1-card-head-bskdaiha"
                data-parent="#accordion1" role="tabpanel" style="">
                <div class="card-body">
                  <p>Es la cantidad de usuarios con la cual compartes tu canal de internet, a menor nivel de
                    compartición, experimentaras velocidades más elevadas.</p>
                </div>
              </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a class="collapsed" id="accordion1-card-head-yowtrxjn" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-ctoaqply"
                    aria-controls="accordion1-card-body-ctoaqply" aria-expanded="false" role="button">Cuales son las
                    ventajas de usar fibra óptica en lugar de antenas?
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse" id="accordion1-card-body-ctoaqply" aria-labelledby="accordion1-card-head-yowtrxjn"
                data-parent="#accordion1" role="tabpanel" style="">
                <div class="card-body">
                  <p>Llegar con fibra óptica significa conexión a internet de alta velocidad, estable y capacidad
                    simétrica de bajada y subida, esto porque la fibra es un cable inmune a interferencias
                    electromagnéticas, lo que protege la calidad de la señal incluso cuando llueve; además no
                    necesitas línea telefónica.</p>
                </div>
              </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a class="" id="accordion1-card-head-sjvrbctt" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-yyatyltf"
                    aria-controls="accordion1-card-body-yyatyltf" aria-expanded="true" role="button">Que quiere decir
                    que en las noches puedo navegar a 100Mbps?
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse show" id="accordion1-card-body-yyatyltf"
                aria-labelledby="accordion1-card-head-sjvrbctt" data-parent="#accordion1" role="tabpanel" style="">
                <div class="card-body">
                  <p>Como parte de nuestro servicio liberamos completamente el canal de internet para todos nuestros
                    clientes en el horario de 23:00 a 08:00.</p>
                </div>
              </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a class="collapsed" id="accordion1-card-head-wwxqdkhj" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-hguowxpw"
                    aria-controls="accordion1-card-body-hguowxpw" aria-expanded="false" role="button">Tengo limitación
                    por la cantidad de datos que consumo?
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse" id="accordion1-card-body-hguowxpw" aria-labelledby="accordion1-card-head-wwxqdkhj"
                data-parent="#accordion1" role="tabpanel">
                <div class="card-body">
                  <p>Absolutamente no, lo que diferencian los planes es la velocidad de conexión únicamente puedes
                    descargar o subir todo lo que requieras</p>
                </div>
              </div>
            </article>
            <!-- Bootstrap card-->
            <article class="card card-custom card-corporate">
              <div class="card-header" role="tab">
                <div class="card-title"><a class="collapsed" id="accordion1-card-head-wwxqdkhr" data-toggle="collapse"
                    data-parent="#accordion1" href="https://www.smartnet.ec/index.html#accordion1-card-body-hguowxpr"
                    aria-controls="accordion1-card-body-hguowxpr" aria-expanded="false" role="button">Existen
                    descuentos por discapacidad o 3ra edad??
                    <div class="card-arrow"></div>
                  </a></div>
              </div>
              <div class="collapse" id="accordion1-card-body-hguowxpr" aria-labelledby="accordion1-card-head-wwxqdkhr"
                data-parent="#accordion1" role="tabpanel">
                <div class="card-body">
                  <p>SmartNet siguiendo la normativa vigente en el pais brinda el beneficio de otorgar una rebaja del
                    50% del valor del consumo mensual en los planes comerciales del servicio acceso a internet, a
                    persona natural o jurídica sin fines de lucro que represente legalmente a la persona con
                    discapacidad, conforme el numeral del Artículo 79 de la Ley Orgánica de Discapacidades. Exonerar
                    el 50% del valor de consumo en un plan básico de internet (12% SBU), cuyo titular sea la persona
                    adulta mayor, conforme el artículo 13 de Ley Orgánica de las Personas Adultas Mayores, LOPAM</p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about-->
  <section class="section section-lg text-center bg-gray-300" id="about">
    <div class="container">
      <h3>Sobre Nosotros</h3>
      <p>SmartNet, Marca Registrada 100% Salcedense, permisionarios autorizados para comercializar el Servicio de
        Acceso a Internet, mediante resolución Arcotel-2020-0364, con cobertura en todo el cantón de Salcedo ofrecemos
        planes de Internet mediante Fibra Óptica para hogares y empresas.</p>
    </div>
    <div class="container">
      <h3>Visión</h3>
      <p>Ser una empresa lider en el mercado de las telecomunicaciones con innovación, servicio de calidad y
        dedicación a sus clientes, llegando a cubrir con Fibra Optica muchas mas poblaciones de la provincia de
        Cotopaxi y a futuro del país.</p>
    </div>
    <div class="container">
      <h3>Misión</h3>
      <p>Proveer del acceso a las tecnologías de la información usando infraestructura de telecomunicaciones de última
        generación, gestionado por personal altamente calificado para brindar un servicio acorde a las necesidades de
        nuestros usuarios, comprometidos al desarrollo del país y orientados a superar los desniveles culturales,
        económicos y sociales.</p>
    </div>
  </section>
  <!--SpeedTest-->
  <section class="section section-xl text-center" id="speed">
    <div class="container">
      <h3>Test de Velocidad</h3>
      <p>Prueba la velocidad de tu servicio:</p>
      <!-- <iframe width="100%" height="650px" frameborder="0" src="assets/images/saved_resource.html"></iframe> -->
    </div>
  </section>
  <!-- Page Footer-->
  <footer class="section footer-classic context-lite bg-grad-1">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-8 order-lg-2 pl-xl-8 wow-outer">
          <div class="wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <div class="row row-50">
              <div class="col-12">
                <h5 class="footer-title">Links de Interes / Regulaciones</h5>
                <ul class="list-contact-info">
                  <li><span class="list-item-text"><a href="https://www.arcotel.gob.ec/" target="_blank"> Agencia de
                        Regulación y Control de Telecomunicaciones</a></span></li>
                  <li><span class="list-item-text"><a href="https://www.smartnet.ec/calidadSVA.pdf" target="_blank">
                        Norma de Calidad de Servicio</a></span></li>
                  <li><span class="list-item-text"><a href="https://www.smartnet.ec/leyorganicatelecom.pdf"
                        target="_blank"> Ley Orgánica de Telecomunicaciones</a></span></li>
                  <li><span class="list-item-text"><a href="https://www.smartnet.ec/contratoabonados.pdf"
                        target="_blank"> Contrato de Adhesión de Abonados</a></span></li>
                  <li><span class="list-item-text"><a href="https://www.smartnet.ec/parametroscalidad.pdf"
                        target="_blank"> Parámetros de Calidad&nbsp;&nbsp;</a></span></li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5 class="footer-title">Dirección</h5>
                <ul class="list-contact-info">
                  <li><span class="icon mdi mdi-map-marker icon-md icon-white"></span><span class="list-item-text"><a
                        href="https://www.smartnet.ec/index.html#">Calle Bolivar, entre Sucre y 24 de Mayo, junto al
                        Municipio de Salcedo, Edf. Central Park, Tercer Piso</a></span></li>
                  <li><span class="icon mdi mdi-phone icon-sm icon-white"></span><span class="list-item-text"><a
                        href="tel:#">+593 98 131 2715</a></span></li>
                </ul>
              </div>
              <div class="col-md-6">
                <h5 class="footer-title">Redes Sociales</h5>
                <p class="big">Siguenos en nuestras redes sociales.</p>
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md-2 icon-bg-white fa-facebook"
                      href="https://www.facebook.com/smartnetsalcedo" target="_blank"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram"
                      href="https://www.instagram.com/smartnetec/" target="_blank"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md-2 icon-bg-white fa-youtube"
                      href="https://www.smartnet.ec/index.html#" target="_blank"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-lg-1 pr-xl-5 wow-outer">
          <div class="wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
            <div class="row row-30">
              <div class="col-12"><a class="brand" href="https://www.smartnet.ec/index.html"><img
                    class="brand-logo-light" src="assets/images/logo-default-302x89.png" alt="" width="151"
                    height="44"><img class="brand-logo-dark" src="assets/images/logo-inverse-302x89.png" alt=""
                    width="151" height="44"></a>
              </div>
              <div class="col-12">
                <p>SmartNet es una empresa Salcedense proveedora de servicio de internet con el objetivo principal de
                  brindar un internet de calidad, con tasas de velocidades elevadas para conectar a Salcedo con redes
                  de nueva generación.</p>
                <p>Visitanos en nuestras oficinas: <img class="brand-logo-dark"
                    src="assets/images/oficinas-smartnet.jpeg" alt="" width="251" height="44"></p>
                <div class="footer-divider"></div>
                <p class="rights"><span>©&nbsp;</span><span
                    class="copyright-year">2021</span><span>&nbsp;</span><span>SmartNet</span><span>. Todos los
                    derechos reservados.</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


<div class="snackbars" id="form-output-global"></div>

<!-- coded by Dyoma-->

<a href="https://www.smartnet.ec/index.html#" id="ui-to-top" class="ui-to-top fa fa-angle-up active"></a>